{% extends "PrestaShopBundle:Admin:layout.html.twig" %}


{% block content %}
  <div id="app"></div>  
{% endblock %}

{% block javascripts %}
  <script defer src="{{vendorvuejspath}}"></script>
  <script defer src="{{vuejspath}}"></script>
{% endblock %}




